html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #f8f8f8;
	color: #222222;
	font-family: "Roboto Slab","Arial","Helvetica",sans-serif;
	line-height: 1.5;
}

header
{
	box-sizing: border-box;
	width: 100%;
	background: #3a275c;
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: start;
}

header h1
{
	color: #ffffff;
	font-size: 40px;
	margin: 20px;
}

header img.logo
{
	width: 150px;
	height: 150px;
}

main
{
	display: flex;
	flex-direction: row;
	min-height: 500px;
}

nav.main-nav
{
	min-width: 200px;
	max-width: 200px;
	box-sizing: border-box;
	padding: 20px;
	border-right: 5px solid #3a275c;
	color: #444444;
}

nav.main-nav div
{
	margin-bottom: 10px;
}

nav.main-nav div.separator
{
	height: 10px;
	margin-bottom: 10px;
}

nav.main-nav a
{
	color: inherit;
	text-decoration: none;
}

nav.main-nav a:hover,
nav.main-nav a:focus
{
	color: #666666;
	text-decoration: underline;
}

main .main-content
{
	box-sizing: border-box;
	padding: 20px;
}

footer
{
	box-sizing: border-box;
	border-top: 5px solid #3a275c;
}

footer h1
{
	font-size: 15px;
}

footer pre
{
	background: #ccc;
}

p {
	margin-bottom: 1em;
}

a {
	color: #3a275c;
	text-decoration: underline;
}
